{% extends "Appbelen/index.html" %}
{% load static %}
{% block contenidoQueCambia %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Editar Docentes {% endblock %}
</head>
<body>
    <h3>Formulario de edicion de Docentes</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">Guardar</button>
    </form>
</body>
</html>  
{% endblock %}